


%image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$accent: #FAB31B;


%bebas-700 {
  font-family: 'BebasNeueBold', sans-serif;
  font-weight: 700;
}

%cera-900 {
  font-family: 'CeraPro-Black', sans-serif;
  font-weight: 900;
}
%cera-700 {
  font-family: 'CeraPro-Bold', sans-serif;
  font-weight: 700;
}
%cera-300 {
  font-family: 'CeraPro-Light', sans-serif;
  font-weight: 300;
}
%cera-500 {
  font-family: 'CeraPro-Medium', sans-serif;
  font-weight: 500;
}
%cera-400 {
  font-family: 'CeraPro-Regular', sans-serif;
  font-weight: 400;
}
%monts-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}